<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body>

      <div class="poem">
        <section class="block1">
          <h2>Never Give Up</h2>
          <p>Never Give Up</p>
          <p>Never give in.</p>
          <p>Move onward and upward with strength from within.</p>
        </section>
        <section class="block2">
          <p>Always believe,</p>
          <p>Always look forward.</p>
          <p>Never be the one who is seen as a coward.</p>
        </section>
        <section class="block3">
          <p>Remember the past,</p>
          <p>Look for the future.</p>
          <p>Always remember it's often good to be obscure.</p> 
          
       </section>
        <section class="block4">
          <p>You are special,</p>
          <p>You are unique.</p>
          <p>To go far in life is what you should seek.</p>
        </section>
      </div>
</body>
</html>