
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Yellowtail&display=swap');


/* Header - grid*/

header {
    background-color:#F6BD60;
    text-align: left;
    max-width: 1600px;   
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
   
.logo {
    width: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

nav a {
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
    font-size: 20px;
}

hr.new1 {
    margin-top: 50px;
    border-top: 2px solid #EDEDED;
  }


#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Varela Round', sans-serif;
    
}

body {
    background-color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
  

/*----------------------footer--------------------------*/
footer {
    background-color: rgb(238, 238, 238);
    padding: 25px 50px;
    margin-top: 75px;
    display: block;
    justify-content: space-around;
}

footer h4 {
    display: block;
}

footer h6 {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

#footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    margin: 0;
}

#footer-container p {
    font-size: 0.7em;
}

.c1 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 10px;
}

.c2 {
    grid-column: 2/3;
    grid-row: 1/3;
}

.social {
    grid-column: 4/5;
    grid-row: 1/2;
}

.social a {
    text-decoration: none;
}

/*----------------------recipes--------------------------*/

#home-recipe{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    text-align: center;
}

h2{
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
}

#food-image1, #food-image2, #food-image3 {
    width: 100%;
}

.food1 {
    grid-column: 2/4;
    grid-row: 2/3;
}

.food2{
    grid-column:5/7;
    grid-row: 2/3;
}

.food3{
    grid-column: 8/10;
    grid-row: 2/3;
}



#food-image1, #food-image2, #food-image3 {    
    border: 10px solid #F5CAC3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #F5CAC3;
}

#food-image1:hover, #food-image2:hover, #food-image3:hover{
    opacity: .6;
    transform: scale(1.1);
}

/*----------------------tips--------------------------*/
.box{
    width: 1300px;
    margin: 100px auto;
    background: #fff;
    border-radius: 7px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.301);
}

.heading{
    font-size: 25px;
}
.box .heading{
    background: #84A59D;
    border-radius: 7px 7px 0px 0px;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.faqs{
    padding: 0px 20px 20px 20px;
}

details{
    background: #f8f5e9;
    padding: 30px;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}